In [14]:
import pandas as pd

In [15]:
df=pd.read_csv("tripadvisor_hotel_reviews.csv")

In [16]:
df.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20491 entries, 0 to 20490
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  20491 non-null  object
 1   Rating  20491 non-null  int64
dtypes: int64(1), object(1)
memory usage: 320.3+ KB

In [18]:
df.shape

(20491, 2)

In [19]:
df.isna().sum()

Review    0
Rating    0
dtype: int64

In [20]:
blank=[]

for index in df["Review"]:
    if index.isspace()==True:
        blank.append(index)

In [21]:
blank

[]

In [22]:
df["Rating"].value_counts()

5    9054
4    6039
3    2184
2    1793
1    1421
Name: Rating, dtype: int64

In [23]:
df["Rating"].value_counts().sort_values()

1    1421
2    1793
3    2184
4    6039
5    9054
Name: Rating, dtype: int64

In [24]:
def rating(rating):
    if rating >=3 and rating<=5:
        return "positive"
    if rating >0 and rating <3:
        return "negative"


df["Rating_pos_neg"]=df["Rating"].apply(rating)

In [25]:
df

,Review,Rating,Rating_pos_neg
0,nice hotel expensive parking got good deal sta...,4,positive
1,ok nothing special charge diamond member hilto...,2,negative
2,nice rooms not 4* experience hotel monaco seat...,3,positive
3,"unique, great stay, wonderful time hotel monac...",5,positive
4,"great stay great stay, went seahawk game aweso...",5,positive
...,...,...,...
20486,"best kept secret 3rd time staying charm, not 5...",5,positive
20487,great location price view hotel great quick pl...,4,positive
20488,"ok just looks nice modern outside, desk staff ...",2,negative
20489,hotel theft ruined vacation hotel opened sept ...,1,negative
20490,"people talking, ca n't believe excellent ratin...",2,negative

In [27]:
df["Rating_pos_neg"].value_counts()

positive    17277
negative     3214
Name: Rating_pos_neg, dtype: int64

In [28]:
import nltk 

nltk.download("vader_lexicon")

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\haric\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [29]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [30]:
sentimentanalyzer=SentimentIntensityAnalyzer()

In [32]:
def polarityscorefinder(review):
   return  sentimentanalyzer.polarity_scores(review)

In [33]:
df["Scores"]=df["Review"].apply(polarityscorefinder)

In [34]:
df

,Review,Rating,Rating_pos_neg,Scores
0,nice hotel expensive parking got good deal sta...,4,positive,"{'neg': 0.072, 'neu': 0.643, 'pos': 0.285, 'co..."
1,ok nothing special charge diamond member hilto...,2,negative,"{'neg': 0.11, 'neu': 0.701, 'pos': 0.189, 'com..."
2,nice rooms not 4* experience hotel monaco seat...,3,positive,"{'neg': 0.081, 'neu': 0.7, 'pos': 0.219, 'comp..."
3,"unique, great stay, wonderful time hotel monac...",5,positive,"{'neg': 0.06, 'neu': 0.555, 'pos': 0.385, 'com..."
4,"great stay great stay, went seahawk game aweso...",5,positive,"{'neg': 0.135, 'neu': 0.643, 'pos': 0.221, 'co..."
...,...,...,...,...
20486,"best kept secret 3rd time staying charm, not 5...",5,positive,"{'neg': 0.063, 'neu': 0.665, 'pos': 0.272, 'co..."
20487,great location price view hotel great quick pl...,4,positive,"{'neg': 0.0, 'neu': 0.57, 'pos': 0.43, 'compou..."
20488,"ok just looks nice modern outside, desk staff ...",2,negative,"{'neg': 0.131, 'neu': 0.724, 'pos': 0.145, 'co..."
20489,hotel theft ruined vacation hotel opened sept ...,1,negative,"{'neg': 0.15, 'neu': 0.671, 'pos': 0.179, 'com..."
20490,"people talking, ca n't believe excellent ratin...",2,negative,"{'neg': 0.193, 'neu': 0.668, 'pos': 0.14, 'com..."

In [36]:
def onlycompound(review):
    return sentimentanalyzer.polarity_scores(review)["compound"]

In [37]:
df["compound_score"]=df["Review"].apply(onlycompound)

In [38]:
df.head()

,Review,Rating,Rating_pos_neg,Scores,compound_score
0,nice hotel expensive parking got good deal sta...,4,positive,"{'neg': 0.072, 'neu': 0.643, 'pos': 0.285, 'co...",0.9747
1,ok nothing special charge diamond member hilto...,2,negative,"{'neg': 0.11, 'neu': 0.701, 'pos': 0.189, 'com...",0.9787
2,nice rooms not 4* experience hotel monaco seat...,3,positive,"{'neg': 0.081, 'neu': 0.7, 'pos': 0.219, 'comp...",0.9889
3,"unique, great stay, wonderful time hotel monac...",5,positive,"{'neg': 0.06, 'neu': 0.555, 'pos': 0.385, 'com...",0.9912
4,"great stay great stay, went seahawk game aweso...",5,positive,"{'neg': 0.135, 'neu': 0.643, 'pos': 0.221, 'co...",0.9797

In [50]:
def scoreallot(review):
  
        if review >=0 and review <=5:
            return "positive"

        else:
            return "negative"

In [55]:
scoreallot(5)

'positive'

In [56]:
scoreallot(-0.54)

'negative'

In [58]:
df["compound_pos_neg"]=df["compound_score"].apply(scoreallot)

In [59]:
df

,Review,Rating,Rating_pos_neg,Scores,compound_score,compound_pos_neg
0,nice hotel expensive parking got good deal sta...,4,positive,"{'neg': 0.072, 'neu': 0.643, 'pos': 0.285, 'co...",0.9747,positive
1,ok nothing special charge diamond member hilto...,2,negative,"{'neg': 0.11, 'neu': 0.701, 'pos': 0.189, 'com...",0.9787,positive
2,nice rooms not 4* experience hotel monaco seat...,3,positive,"{'neg': 0.081, 'neu': 0.7, 'pos': 0.219, 'comp...",0.9889,positive
3,"unique, great stay, wonderful time hotel monac...",5,positive,"{'neg': 0.06, 'neu': 0.555, 'pos': 0.385, 'com...",0.9912,positive
4,"great stay great stay, went seahawk game aweso...",5,positive,"{'neg': 0.135, 'neu': 0.643, 'pos': 0.221, 'co...",0.9797,positive
...,...,...,...,...,...,...
20486,"best kept secret 3rd time staying charm, not 5...",5,positive,"{'neg': 0.063, 'neu': 0.665, 'pos': 0.272, 'co...",0.9834,positive
20487,great location price view hotel great quick pl...,4,positive,"{'neg': 0.0, 'neu': 0.57, 'pos': 0.43, 'compou...",0.9753,positive
20488,"ok just looks nice modern outside, desk staff ...",2,negative,"{'neg': 0.131, 'neu': 0.724, 'pos': 0.145, 'co...",0.2629,positive
20489,hotel theft ruined vacation hotel opened sept ...,1,negative,"{'neg': 0.15, 'neu': 0.671, 'pos': 0.179, 'com...",0.9867,positive
20490,"people talking, ca n't believe excellent ratin...",2,negative,"{'neg': 0.193, 'neu': 0.668, 'pos': 0.14, 'com...",-0.6071,negative

In [60]:
df["compound_pos_neg"].value_counts()

positive    18874
negative     1617
Name: compound_pos_neg, dtype: int64

In [61]:
from sklearn.model_selection import train_test_split

In [62]:
x=df["Review"]
y=df["Rating_pos_neg"]

In [63]:
x.head()

0    nice hotel expensive parking got good deal sta...
1    ok nothing special charge diamond member hilto...
2    nice rooms not 4* experience hotel monaco seat...
3    unique, great stay, wonderful time hotel monac...
4    great stay great stay, went seahawk game aweso...
Name: Review, dtype: object

In [64]:
y.head()

0    positive
1    negative
2    positive
3    positive
4    positive
Name: Rating_pos_neg, dtype: object

In [65]:
x_train,x_test,y_train,y_test=train_test_split(x,y)

In [66]:
from sklearn.pipeline import Pipeline

In [70]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [71]:
 from sklearn.svm import LinearSVC

In [74]:
textclassifier=Pipeline(steps=[
    ('tfidf',TfidfVectorizer()),
    ("clf",LinearSVC())
]
)

In [75]:
textclassifier.fit(x_train,y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()), ('clf', LinearSVC())])

In [76]:
predictions=textclassifier.predict(x_test)

In [77]:
from sklearn.metrics import accuracy_score

In [78]:
accuracy_score(y_test,predictions)

0.9318758539918017

In [80]:
testdata=["this is bad hotel and place"]

textclassifier.predict(testdata)

array(['negative'], dtype=object)